body {
  background-image: url("imgs/DisplayBack.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

p {
  font-family: "MedievalSharp", sans-serif;
  color: white;
}

h1 {
  font-family: "MedievalSharp", sans-serif;
}

h5 {
  font-family: "MedievalSharp", sans-serif;
}

#get-fact-button {
  font-family: "MedievalSharp", sans-serif;
}
